.btn-back {
    background-image: url('../../assets/Back-Arrow-mc93d.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
}

.shorts-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.shorts-wrap::-webkit-scrollbar {
    display: none;
}

.shorts-wrap {
    position: relative;
    height: 90vh;
    width: 100%;
    max-width: 450px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}