.video-wrap {
    position: relative;
    height: 90vh;
    scroll-snap-align: start;
    border-radius: 20px;
    background-color: #6161617f;
}

.video-player {
    object-fit: fill;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px solid black;
}

.shorts-video {

    &-top {
        position: absolute;
        min-width: fit-content;
        top: 20px;
        left: 10px;
        width: 96%;
        display: flex;
        justify-content: space-between;
        color: #fafafa;


        &-icon {
            display: flex;
        }
    }

    &-side {
        position: absolute;
        right: 20px;
        bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;

        &-icon {
            color: #dadada;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
        }
    }
}

.shorts-bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.shorts-desc {
    .desc {
        color: #ffffff;
        background-color: rgba(25, 25, 25, 0.334);
        margin: 10px -20px;
        padding: 8px 30px;
        width: 100vw;
    }
}

.shorts-details {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px;

    .channel {
        color: #ffffff;
    }

    .btn-subscribe {
        border: none;
        border-radius: 2px;
        padding: 4px 8px;
        background-color: rgb(155, 255, 255);

    }
}

.tag-wrap {
    display: flex;
    gap: 4px;
    margin-left: 10px;
}

.tag {
    background-color: aliceblue;
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 2px;
}