/* .wrapper {
  position: relative;
  padding-top: 56.25%; 
}

.player {
  position: absolute;
  top: 0;
  left: 0;
} */

.title {
  margin-top: 40px;
  color: #a65dff;
  text-align: center;

}

.list-wrap {
  margin: 40px 0;

  h2 {
    font-size: 20px;
    color: #ededed;
    margin: 0 -4%;
  }
}