.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(0, 0, 0, 0.7);

  ul {
    display: flex;
    justify-content: center;
  }

  li {
    width: 50%;
    display: flex;
    justify-content: center;
    border-right: 1px solid white;

    &:last-child {
      border: none;
    }
  }
}

.btn-nav {
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;

  &:hover {
    background-color: #a65dff;
  }
}